//@import "~@fortawesome/fontawesome-free/css/all.css";

@use "./partials/general.scss";


@import "~bootstrap/scss/bootstrap.scss";

img {
    max-width: 100%;
}

a{
    text-decoration: none;
    color: white;
}