
.my_title{
    text-align: center;
    margin: 10px;
    font-size: 100px;
    color: white;
    font-weight: 800;
    font-style: oblique;
}

 .fa-solid  {    
    color: yellow;
//    border: 1px solid black;
 }

 .filled {
   color: white !important;
 }

 body {
    background-image: url("../img/sfondo.png");
 }

 .my_title_home {
    font-size: 150px;
    margin-top: 200px;
 }